<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>用户信息维护</title>
    <!-- 引入iView样式 -->
    <link rel="stylesheet" th:href="@{/dist/styles/iview.css}"/>
    <!-- 引入Bootstrap样式 -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body style="padding: 8px;">
<h2>用户信息维护</h2>
<div id="userinfo_layout" style="position: relative;">

    <!--操作按钮 start-->
    <div style="right: 0; top: 0; position: absolute;">
        <i-button type="info" @click="infoModal = true">查询</i-button>
        <i-button type="success" @click="addModal = true">新增</i-button>
        <i-button type="warning" @click="editModal = true">修改</i-button>
        <i-button type="error" @click="delModal = true">删除</i-button>
    </div>
    <!--操作按钮 end-->


    <!--新增用户对话框 start-->
    <Modal
            v-model="delModal"
            title="删除用户"
            @on-ok="delUserInfo"
            @on-cancel="cancel">
        <p>确定要删除吗？</p>
    </Modal>

    <!--新增用户对话框 start-->
    <Modal
            v-model="addModal"
            title="新增用户"
            @on-ok="addUserInfo"
            @on-cancel="cancel"
            width="600">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                用户名：
                <i-input v-model="userinfo.userName" placeholder="请输入用户名" style="width: 200px"></i-input>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                密码：
                <i-input v-model="userinfo.passWord" type="password" placeholder="请输入密码" style="width: 200px"></i-input>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                昵称：
                <i-input v-model="userinfo.nick" placeholder="请输入昵称" style="width: 200px"></i-input>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                性别：
                <Radio-Group v-model="userinfo.sex">
                    <Radio label="男"></Radio>
                    <Radio label="女"></Radio>
                </Radio-Group>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                出生日期:
                <Date-Picker :value="new Date()" format="yyyy年MM月dd日" type="date" placeholder="选择日期" style="width: 200px" @on-change="dateChange"></Date-Picker>
            </div>

        </div>

    </Modal>
    <!--新增用户对话框 end-->


    <div style="top: 50px;left: 0; right: 0; position: absolute;">
        <i-table border :columns="columns4" :data="userInfoListData" @on-selection-change="selectItem"></i-table>
    </div>

</div>

<!-- 引入Vue.js -->
<script th:src="@{/js/vue.js}"></script>
<!-- 引入iView组件库 -->
<script th:src="@{/dist/iview.min.js}"></script>
<!-- 引入JQuery -->
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<!-- 引入Bootstrap -->
<script th:src="@{/js/bootstrap.js}"></script>
<script>
    new Vue({
        el: '#userinfo_layout',
        mounted(){
            this.loadUserInfo();
        },
        data() {
            return {
                columns4: [
                    {
                        type: 'selection',
                        width: 60,
                        align: 'center'
                    },
                    {
                        title: '昵称',
                        key: 'nick',
                    },
                    {
                        title: '性别',
                        key: 'sex'
                    },
                    {
                        title: '生日',
                        key: 'birthday'
                    }
                ],
                userInfoListData: [],// 用户信息列表项数据
                delUserInfoList:[], // 待删除的用户集合
                infoModal: false,    // 查询对话框（false为不显示）
                addModal: false,    // 新增对话框（false为不显示）
                editModal: false,   // 编辑对话框（false为不显示）
                delModal: false,    // 删除对话框（false为不显示）
                userinfo: {         // 用户信息（新增用户时存储的数据）
                    userName: '',
                    passWord: '',
                    nick: '',
                    sex: '男',
                    birthday: new Date(),
                }
            }
        },
        methods: {
            loadUserInfo(){
                let vue = this;
                $.ajax({
                    type: 'POST',
                    url: '/core/getUserInfoList',
                    data: null,
                    success: function (data) {
                        const obj = eval(data);
                        if (obj.code==="200"){
                            vue.userInfoListData=obj.data;
                        }
                    }
                });
            },
            addUserInfo() {
                let vue = this;
                $.ajax({
                    type: 'POST',
                    url: '/core/saveUserInfo',
                    data: vue.userinfo,
                    success: function (data) {
                        const obj = eval(data);
                        vue.$Message.info(obj.message);
                        if (obj.code==="200"){
                            vue.loadUserInfo();
                        }
                    }
                });
            },
            delUserInfo(){
                let vue = this;
                $.ajax({
                    type: 'POST',
                    url: '/core/deleteUserInfo',
                    data: "idList="+vue.delUserInfoList,
                    success: function (data) {
                        console.info(data);
                        const obj = eval(data);
                        vue.$Message.info(obj.message);
                        if (obj.code==="200"){
                            vue.loadUserInfo();
                        }
                    }
                });
            },
            selectItem(data){
                var ids = "";
                for (var i = 0; i < data.length; i++){
                    ids += data[i].sysId+",";
                }
                this.delUserInfoList = [ids];
            },
            dateChange(data){
                this.userinfo.birthday=data;
            },
            cancel() {
//                this.$Message.info('点击了取消');
            }
        }
    });
</script>
</body>
</html>