<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>角色信息维护</title>
    <!-- 引入iView样式 -->
    <link rel="stylesheet" th:href="@{/dist/styles/iview.css}"/>
    <!-- 引入Bootstrap样式 -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body style="padding: 8px;">
<h2>角色信息维护</h2>
<div id="roleinfo_layout" style="position: relative;">

    <!--操作按钮 start-->
    <div style="right: 0; top: 0; position: absolute;">
        <i-button type="info" @click="infoModal = true">查询</i-button>
        <i-button type="success" @click="addModal = true">新增</i-button>
        <i-button type="warning" @click="editModalFunc">修改</i-button>
        <i-button type="error" @click="delModal = true">删除</i-button>
    </div>
    <!--操作按钮 end-->


    <!--删除角色对话框 start-->
    <Modal
            v-model="delModal"
            title="删除角色"
            @on-ok="delRoleinfo"
            @on-cancel="cancel">
        <p>确定要删除吗？</p>
    </Modal>
    <!--删除角色对话框 end-->

    <!--不允许编辑对话框 start-->
    <Modal
            v-model="noPerEditModal"
            title="提示"
            @on-ok="ok"
            @on-cancel="cancel">
        <p>请选择一个列表项</p>
    </Modal>
    <!--不允许编辑对话框 end-->

    <!--查询角色对话框 start-->
    <Modal
            v-model="infoModal"
            title="查找角色"
            @on-ok="searchRoleinfo"
            @on-cancel="cancel"
            width="600">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                角色名称：
                <i-input v-model="roleinfo.name" placeholder="请输入角色名称" style="width: 200px"></i-input>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                角色类别：
                <i-input v-model="roleinfo.type" placeholder="请输入角色类别" style="width: 200px"></i-input>
            </div>
        </div>

    </Modal>
    <!--查询角色对话框 end-->


    <!--编辑角色对话框 start-->
    <Modal
            v-model="editModal"
            title="编辑角色"
            @on-ok="editRoleinfo"
            @on-cancel="cancel"
            width="600">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                角色名称：
                <i-input v-model="roleinfo.name" placeholder="请输入角色名称" style="width: 200px"></i-input>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                角色类别：
                <i-input v-model="roleinfo.type" placeholder="请输入角色类别" style="width: 200px"></i-input>
            </div>
        </div>

    </Modal>
    <!--编辑角色对话框 end-->


    <!--新增角色对话框 start-->
    <Modal
            v-model="addModal"
            title="新增角色"
            @on-ok="addRoleInfo"
            @on-cancel="cancel"
            width="600">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                角色名称：
                <i-input v-model="roleinfo.name" placeholder="请输入角色名称" style="width: 200px"></i-input>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                角色类别：
                <i-input v-model="roleinfo.type" placeholder="请输入角色类别" style="width: 200px"></i-input>
            </div>
        </div>

    </Modal>
    <!--新增角色对话框 end-->


    <div style="top: 50px;left: 0; right: 0; position: absolute;">
        <i-table border :columns="columns2" :data="roleInfoListData" @on-selection-change="selectItem"></i-table>
    </div>

</div>

<!-- 引入Vue.js -->
<script th:src="@{/js/vue.js}"></script>
<!-- 引入iView组件库 -->
<script th:src="@{/dist/iview.min.js}"></script>
<!-- 引入JQuery -->
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<!-- 引入Bootstrap -->
<script th:src="@{/js/bootstrap.js}"></script>
<script>
    new Vue({
        el: '#roleinfo_layout',
        mounted() {
            this.loadRoleInfo();
        },
        data() {
            return {
                columns2: [
                    {
                        type: 'selection',
                        width: 60,
                        align: 'center'
                    },
                    {
                        title: '角色名称',
                        key: 'name',
                    },
                    {
                        title: '角色类别',
                        key: 'type'
                    }
                ],
                roleInfoListData: [],// 角色信息列表项数据
                delRoleinfoList: [], // 待删除的角色集合
                infoModal: false,    // 查询对话框（false为不显示）
                addModal: false,    // 新增对话框（false为不显示）
                editModal: false,   // 编辑对话框（false为不显示）
                noPerEditModal: false,  // 不允许编辑（true时提示不允许编辑）
                isEdit: false,      // 是否允许编辑（勾选多个时为false，不允许编辑）
                delModal: false,    // 删除对话框（false为不显示）
                roleinfo: {         // 角色信息（新增角色时存储的数据）
                    sysId: '',
                    name: '',
                    type: '',
                },
            }
        },
        methods: {
            loadRoleInfo() {
                let vue = this;
                $.ajax({
                    type: 'POST',
                    url: '/core/getRoleInfoList',
                    data: null,
                    success: function (data) {
                        const obj = eval(data);
                        if (obj.code === "200") {
                            vue.roleInfoListData = obj.data;
                        }
                    }
                });
            },
            searchRoleinfo(){
                let vue = this;
                $.ajax({
                    type: 'POST',
                    url: '/core/getRoleInfoList',
                    data: vue.roleinfo,
                    success: function (data) {
                        console.info(data);
                        const obj = eval(data);
                        if (obj.code === "200") {
                            vue.roleInfoListData = obj.data;
                        }
                    }
                });
            },
            addRoleInfo() {
                let vue = this;
                $.ajax({
                    type: 'POST',
                    url: '/core/saveRoleInfo',
                    data: vue.roleinfo,
                    success: function (data) {
                        const obj = eval(data);
                        vue.$Message.info(obj.message);
                        if (obj.code === "200") {
                            vue.clearRoleinfo();    // 清空角色信息
                            vue.loadRoleInfo();     // 重新加载列表项
                        }
                    }
                });
            },
            delRoleinfo() {
                let vue = this;
                $.ajax({
                    type: 'POST',
                    url: '/core/deleteRoleInfo',
                    data: "idList=" + vue.delRoleinfoList,
                    success: function (data) {
                        const obj = eval(data);
                        vue.$Message.info(obj.message);
                        if (obj.code === "200") {
                            vue.loadRoleInfo();
                        }
                    }
                });
            },
            editRoleinfo() {
                let vue = this;
                $.ajax({
                    type: 'POST',
                    url: '/core/updateRoleInfo',
                    data: vue.roleinfo,
                    success: function (data) {
                        const obj = eval(data);
                        vue.$Message.info(obj.message);
                        if (obj.code === "200") {
                            vue.loadRoleInfo();
                        }
                    }
                });
            },
            editModalFunc() {    // 点击编辑按钮时
                if (this.isEdit) {   // 允许编辑时弹出编辑对话框
                    this.editModal = true;
                } else {
                    this.noPerEditModal = true; // 弹出不允许编辑对话框
                }
            },
            selectItem(data) {   // 列表项选择

                let ids = "";
                for (let i = 0; i < data.length; i++) {
                    ids += data[i].sysId + ",";
                }
                this.delRoleinfoList = [ids];

                if (data.length === 1) {
                    this.isEdit = true;
                    this.roleinfo.sysId = data[0].sysId;
                    this.roleinfo.name = data[0].name;
                    this.roleinfo.type = data[0].type;
                } else {
                    this.isEdit = false;
                    this.roleinfo.sysId = '';
                    this.roleinfo.name = '';
                    this.roleinfo.type = '';
                }

            },
            dateChange(data) {
                this.roleinfo.birthday = data;
            },
            clearRoleinfo() {    // 清空对话框的角色信息
                this.roleinfo.sysId = '';
                this.roleinfo.name = '';
                this.roleinfo.type = '';
            },
            ok() {
                clearRoleinfo();
            },
            cancel() {
                clearRoleinfo();
            }
        }
    });

</script>
</body>
</html>